.headerParentDiv {
  
  background-color: whitesmoke;
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 0.7% 3% 1%;
}

.headerChildDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.placeSearch {
  width: 21%;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  border: 2px solid #002f34;
  border-radius: 4px;
  background-color: white;
}

.placeSearch ::selection {
  border-color: #23e5db;
  outline-color: #23e5db;
}

.placeSearch input {
  padding-left: 5%;
  border-color: transparent;
  outline-color: transparent;
}

.productSearch {
  width: 50%;
  height: 48px;
  border: 2px solid #002f34;
  border-radius: 4px;
  display: flex;
  align-items: center;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productSearch .input {
  width: 100%;
  height: 100%;
  display: flex;
}

.productSearch .input input {
  padding: 1%;
  border-color: transparent;
  outline-color: transparent;
  width: 100%;
  align-items: center;
}
.productSearch .input input::placeholder{
  color: rgb(62, 97, 114);
}


.productSearch .searchAction {
  min-width: 48px;
  height: 48px;
  position: relative;
  display: flex;
  cursor: pointer;
  background-color: #002f34;
  border-radius: 0 4px 4px 0;
}

.productSearch .searchAction svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: white;
}

.language {
  height: 48px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.language span {
  /* justify-content: space-between;
  align-items: center; */
  font-size: 15px;
  white-space: normal;
  text-overflow: ellipsis;
  font-weight: bolder;
  margin-right: 5px;
  font-family: 'Courier New', Courier, monospace;
}

.language svg {
}

.span {
  text-decoration: none;
  font-size: 16px;
  white-space: normal;
  text-overflow: ellipsis;
  font-weight: bolder;
  margin-right: 5px;
}
.loginPage{
  font-weight: 600;
  cursor: pointer;
}
.loginPage hr {
  margin: 0;
  background-color: black;
  height: 2px;
}

.loginPage a{
  text-decoration: none;
}
.userLoginPage{
  font-weight: 600;
  font-size: x-large;
  background-color: #002f34;
  color: white;
  padding: 0.2% 0.8%;
   border-radius: 50%;
  text-transform: uppercase;
  cursor: pointer;
}
.logoutMenu{
  position: absolute;
  padding: 1%;
    left: 85%;
    z-index: 999;
    top: 100%;
    color: black;
    background-color: white;
    display: flex;
}
.logOut{
  display: none;
}
 .logoutMenu h2{
   color: #398c97;
   font-weight: bolder;
 }
 .logoutDiv{
   display: flex;
   flex-direction: column;
 }
 .logoutDiv span{
   font-weight: 600;
   color: grey;
   cursor: pointer;
 }
 .logoutDiv span:hover{
   color: black;
 }

.userLoginPage a{
  
  text-decoration: none;
}

.sellMenu {
  filter: drop-shadow(2px 4px 6px rgb(163, 154, 154));
  position: relative;
  cursor: pointer;
}

.sellMenu .all {
  fill: white;
}

.sellMenu .top {
  fill: #23e5db;
}

.sellMenu .left {
  fill: #ffce32;
}

.sellMenu .right {
  fill: #3a77ff;
}
.sellMenu .sellMenuContent {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #002f34;
}

/* .sellMenu .sellMenuContent svg {
  align-items: center;
} */
.sellMenu .sellMenuContent span {
  margin-left: 5px;
}

@media only screen and (max-width: 700px) {
  .placeSearch,
  .productSearch,
  .sellMenu {
    display: none;
  }
}