header{
  height: 12%;
    padding: 1% 5% 1%;
  background-color: whitesmoke;
    position: absolute;
    width: 100%;
}
.header{
  display: flex;
  
}
.header .left{
  display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1%;
}
.left i{
  cursor: pointer;
}
.createPage{
  display: flex;
  justify-content: space-around;
  color: #002f34;
}
.createContent{
  width: 65%;
  padding: 7% 1% 0%;
}
.contentInside{
  width: 100%;
  height: auto;
  border: 1px solid;
  border-color: rgb(219, 215, 215);
  display: flex;
  flex-direction: column;
  margin: 3% 0px;
}
.contentHeading h1{
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
}
.insideSection{
  padding: 2%;
  border-bottom: 1px solid;
  border-color: rgb(219, 215, 215) ;  
}
.insideSection input,textarea{
  border: 1px solid;
  border-color: rgb(219, 215, 215) ; 
}
.insideSection h2{
  font-size: 125%;
    font-weight: bolder;
}
.insideSection select{
  margin: 2% 0%;
    padding: 1% 1%;
    border-color: rgb(192, 189, 189);
    background-color: white;
}
.insideSection label{
  font-size: 85%;
}

.titleInput{
  width: 50%;
    padding: 1%;
    margin: 1% 0;
}
.descriptionInput{
  width: 100%;
    padding: 1%;
    margin: 1% 0;
}
.priceInput{
  width: 50%;
  padding: 1%;
  margin: 1% 0;
}
.submitButton{
  margin: 2% 0;
  background-color: #002f34;
  color: white;
  padding: 1% 2%;
  border: 1px solid;
  border-radius: 5%;
  font-weight: 600;
  border-color: #002f34;
  cursor: pointer;
}
.submitButton:hover{
  color: #002f34;
  background-color: white;
}
/* .centerDiv {
  border: 1px solid black;
  width: max-content;
  padding: 50px;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
}
.input {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  outline-color: transparent;
}

.uploadBtn {
  margin-top: 30px;
  width: 100%;
  height: 48px;
  /* border-color: transparent; 
  background-color: #002f34;
  color: whitesmoke;
  font-weight: 900;
}
.uploadBtn:hover {
  background-color: white;
  color: #002f34;
  border: 2px solid #002f34;
} */
