.bannerParentDiv {
  padding-top: 5em;
}
.bannerParentDiv .bannerChildDiv {
}
.bannerParentDiv .bannerChildDiv .menuBar {
  display: flex;
  padding: 10px 16px 10px 16px;
  margin: 0 2%;
  width: 96%;
}

.bannerParentDiv .bannerChildDiv .menuBar .categoryMenu{
  display: flex;
}

.bannerParentDiv .bannerChildDiv .menuBar .categoryMenu span {
  margin-right: 10px;
  font-weight: bolder;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 90%;
  font-family: inherit;
}

.menuBar span{
  cursor: pointer;
}
.bannerParentDiv .bannerChildDiv .menuBar .otherQuickOptions span {
  padding: 10px;
  color:#002f34;
  font-size: 85%;
}

.bannerChildDiv .banner {
  position: relative;
  width: 100%;
}
.bannerChildDiv .banner img{
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .otherQuickOptions {
    display: none;
  }
  .bannerChildDiv .banner {
    position: relative;
  }
  .bannerParentDiv{
    padding-top: 6em;
  }
}
